<style>h3,p {font-family:tahoma};</style>
<h3>Content: <%= name %></h3>
<h3>Description: <%= description %></h3>
<h3>Subject: <%= subject %></h3>
<h3>Author: <%= authorName %></h3>
<p>URL: <%= url %></p>
